{% extends "layout.twig" %}

{% block body %}
    <h1>Reinitialiser mot de passe</h1>
        <form action="" method="POST">
            <div class="class-group">
                <div class="form-group">
                    <label for="username">Login :</label>
                    <input type="text" id="username" value="nodejs" name="username" class="form-control">
                </div>
                <button type="submit" class="btn btn-success mt-3">Reinitialiser</button>
            </div>
        </form>
{% endblock %}